#body {
  background-color:#CCFFCC;
}
#wrapper {
  width: 50%;
  height: auto;
}


.navbar.navbar-default {
  z-index: 150;
  margin-bottom: -50px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.navbar,
#main {
  position: relative;
}

