  {{#each cat_brands}}
  <div class = "content">
    <h3>{{name}} {{type}}</h3>
{{/each}}
    {{#each volumes}}
    <span class="size">{{size}}</span> : <span class="price">{{price}}</span>
  </div>
  {{/each}}
