 {{#each dog_brands}}
  <div class = "content">
    <h3>{{name}}</h3>
    {{#each types}}
      </br><b>{{type}}:</b></br>
      {{#each volumes}}
        {{size}}: {{price}}</br>
        </div>

    {{/each}}
{{/each}}
{{/each}}
